<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @person.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @person.group_id %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @person.balance %>
</p>

<%= link_to 'Edit', edit_group_person_path(@group, @person) %> |
<%= link_to 'Back', group_people_path %>
