<div class="row">
	<div class="panel panel-info">
		<div class="panel-heading clearfix">
			<h2 class="panel-title pull-left"><strong>Your Groups</strong></h2>
		    <div class="pull-right"><%= link_to content_tag(:span,"",class:"glyphicon glyphicon-glass")+' New', new_group_path, class:"btn btn-success"  %></div>
		    <div class="clearfix"></div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<%= render 'layouts/messages' %>
				</div>
			</div>
			<div class="row">
	<% @groups.each  do |group| %>
	<div class="col-md-4 group">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= link_to group.name, group%> <span class="badge pull-right"><%= group.persons.count %></span> </h3>
			</div>
			<div class="panel-body">
				<p><% unless group.description.nil? %>
					<%= group.description.first(30) %>
					<% if group.description.length > 30 %>
					...
					<% end %>
					<% if group.description.strip.length == 0 %>
					 .
					<% end %>
					<% end %>
				</p>
			</div>
			<div class="panel-footer">
					<%= link_to content_tag(:span,"",class:"glyphicon glyphicon-folder-open")+' Show', group, class:"btn btn-primary btn-sm pull-left"%>
					<%= link_to content_tag(:span,"",class:"glyphicon glyphicon-trash")+' Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm pull-right"%>
					<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<% end %>
</div>
</div>



