<div class="row">
	<div class="panel panel-info">
		<div class="panel-heading clearfix">
			<h2 class="panel-title pull-left">
				<strong class="rest-in-place" data-url="<%= "/groups/#{@group.id}"%>" data-object="group" data-attribute="name" data-placeholder="Enter a name"><%= @group.name %></strong>
			</h2>
			<div class="btn-group pull-right">
				<%= link_to 'Back', groups_path , class:"btn btn-primary "%>
				<%= link_to 'delete', @group, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<blockquote>
						<p class="group-description rest-in-place" data-url="<%= "/groups/#{@group.id}"%>" data-object="group" data-attribute="description" data-placeholder="Enter a description" data-formtype="textarea">
							<%= @group.description %>
						</p>
					</blockquote>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%= render 'layouts/messages' %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="pull-left">Participants:</h3>
					<h3 class="pull-right"><%= link_to content_tag(:span,"",class:"glyphicon glyphicon-user")+' New', new_group_person_path(group_id: @group.id), class:"btn btn-success" %></h3>
					<div class="clearfix"></div>
					<div class="well">
						<div class="row">
							<% @people.each do |person| %>
							<div class="col-sm-1 person">
								<% if person.user.present? %>
								<%= image_tag(person.user.image, class:"img-circle img-thumbnail img-person") %>
								<% else %>
								<%= image_tag("person.png", class:"img-circle img-thumbnail img-person")%>
								<% end %>
								<p>
									<strong><%= person.name %></strong>
								</p>
								<p>
									<%= money(person.balance) %>
								</p>
								<% unless person.user.present? %>
								<%if @group.persons.where(user: current_user).empty?%>
								<p>
									<%= link_to "This is me!", {controller: :people, action: :assign, group_id:@group.id, person_id: person.id} %>
								</p>
								<%end %>
								<p>
									<%= link_to '', group_person_path(group_id: person.group.id, id: person.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm glyphicon glyphicon-trash" %>
								</p>
								<% else%>
								<% if person.user_id == current_user.id %>
								<p>
									<%= link_to '', group_person_path(group_id: person.group.id, id: person.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm glyphicon glyphicon-trash" %>
								</p>
								<% end%>
								<% end %>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h3 class="pull-left">Accountings:</h3>
					<h3 class="pull-right"><%= link_to content_tag(:span,"",class:"glyphicon glyphicon-credit-card")+' New', group_accounting_path(group_id: @group.id, id: 0), class:"btn btn-success"%></h3>
					<div class="clearfix"></div>
					<table class="table">
						<thead>
							<tr>
								<th class="table-buttons"></th>
								<th>Date</th>
								<th>Name</th>
								<th>Paid by</th>
								<th>Amount</th>

							</tr>
						</thead>

						<tbody>
							<% @group.accountings.each do |accounting| %>
							<tr>
								<td class="btn-group"><%= link_to '', group_accounting_path(group_id: @group.id, id: accounting.id), class:"btn btn-primary btn-sm glyphicon glyphicon-folder-open" %>
								<%= link_to '', group_accounting_path(group_id: @group.id, id: accounting.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm glyphicon glyphicon-trash" %> </td>
								<td><%= time_tag accounting.date, distance_of_time_in_words_to_now(accounting.date) %> ago </td>
								<td><%= accounting.name %></td>
								<td> <% @person = accounting.person%><div type="button" class="person-tooltip" data-toggle="tooltip" data-placement="top" title="<%= @person.name %>"> 
									<% if @person.user.present? %>
								<%= image_tag(@person.user.image, class:"img-circle img-thumbnail img-person") %>
								<% else %>
								<%= image_tag("person.png", class:"img-circle img-thumbnail img-person")%>
								<% end %>
								</div></td>
								<td><%= money(accounting.amount) %></td>

							</tr>
							<% end %>
						</tbody>
					</table>
					<hr />
					<p class="pull-right">
						<strong> Total: <%= money(@total)%> </strong>
					</p>

				</div>
				<div class="col-md-6">
					<h3 class="pull-left">Statistics:</h3>
					<h3 class="pull-right"><%= link_to content_tag(:span,"",class:"glyphicon glyphicon glyphicon-tag")+' New', new_group_tag_path(group_id: @group.id), class:"btn btn-success" %></h3>
					<div class="clearfix"></div>
					<% @sorted_tags.reverse.each do |tag| %>
					<% @tag_amount = tag.accountings.sum(:amount)%>
					<% @percentile =  @tag_amount / @total * 100 %>
					<%= tag.name %>: <%= money(@tag_amount) %>
					<div class="progress">
						<div class="progress-bar progress-bar-<%= cycle('danger', 'warning', 'success','default', 'info' ) %>" role="progressbar" aria-valuenow="<%= @percentile %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentile %>%">
							<span class=""><%= @percentile.round(2) %>%</span>
						</div>
					</div>
					<% end %>

				</div>
			</div>
		</div>
		<div class="panel-footer">

		</div>
	</div>
</div>

