<div class="row">
	<div class="panel panel-info">
		<div class="panel-heading clearfix">
			<h2 class="panel-title pull-left">
				<strong class="rest-in-place" data-url="<%= "/groups/#{@group.id}/accountings/#{@accounting.id}"%>" data-object="accounting" data-attribute="name" data-placeholder="Enter a name">
					<%= @accounting.name %>
				</strong>
				<strong> in <%= @group.name%></strong></h2>
			<div class="btn-group pull-right">
				<%= link_to 'Back', group_path(@group), class:"btn btn-primary" %>
				<%= link_to 'Edit', edit_group_accounting_path(group_id: @group.id, id: @accounting.id), class:"btn btn-warning" %>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<%= render 'layouts/messages' %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>
						<strong>Amount:</strong>
						<span class="rest-in-place" data-url="<%= "/groups/#{@group.id}/accountings/#{@accounting.id}"%>" data-object="accounting" data-attribute="amount" data-placeholder="Enter an amount">
							<%= @accounting.amount %>
						</span> €
					</p>
				</div>
				<div class="col-md-6" id="tags">
					<% @tags = @accounting.tags %>
					<%= render :partial => "tags", :object => @tags %>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table" id="sahres">
						<thead>
							<tr>
								<th>Lender</th>
								<th>Borrower</th>
								<th>Amount</th>
								<th colspan="2"></th>
							</tr>
						</thead>

						<tbody>
							<% @accounting.shares.each do |share| %>
							<tr>
								<td> <% @person = share.lender%>
								<% if @person.user.present? %>
								<%= image_tag(@person.user.image, class:"img-circle img-thumbnail ") %>
								<% else %>
								<%= image_tag("person.png", class:"img-circle img-thumbnail ")%>
								<% end %> <strong><%= @person.name %></strong></td>
								<td> <% @person = share.borrower%>
								<% if @person.user.present? %>
								<%= image_tag(@person.user.image, class:"img-circle img-thumbnail img-person") %>
								<% else %>
								<%= image_tag("person.png", class:"img-circle img-thumbnail img-person")%>
								<% end %> <strong><%= @person.name %></strong></td>
								<td><span class="amount rest-in-place" data-url="<%= "/groups/#{@group.id}/accountings/#{@accounting.id}/shares/#{share.id}"%>" data-object="share" data-attribute="amount" data-placeholder="Enter an amount">
									<%= share.amount %></span>
									€</td>
								<td class="btn-group"><%= link_to ' ', edit_group_accounting_share_path(accounting_id: @accounting.id, id: share.id), class:"btn btn-primary btn-sm glyphicon glyphicon-folder-open" %>
								<%= link_to ' ', group_accounting_share_path(accounting_id: @accounting.id, id: share.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm glyphicon glyphicon-trash" %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<%= link_to 'New Share', new_group_accounting_share_path(group_id: @group.id, accounting_id:@accounting.id), class:"btn btn-success" %>
				</div>
			</div>
		</div>
		<div class="panel-footer"></div>
	</div>
</div>