<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @accounting.group.name %>
</p>

<p>
  <strong>Paid by:</strong>
  <%= @accounting.person.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @accounting.amount %>
</p>

<%= link_to 'Edit', edit_group_accounting_path(group_id: @group.id, id: @accounting.id) %> |
<%= link_to 'Back', @group %>
